@font-face {
    font-family: Inter;
    font-weight: 700;
    font-style: normal;
    src: local("Inter"),
        url("../fonts/AnyConv.com__Inter-Bold.woff2") format('woff2'),
        url("../fonts/AnyConv.com__Inter-Bold.woff") format('woff'),
        url("../fonts/AnyConv.com__Inter-Bold.eot") format('eot');
    font-display: swap;
}

@font-face {
    font-family: Inter;
    font-weight: 500;
    font-style: normal;
    src: local("Inter"),
        url("../fonts/AnyConv.com__Inter-Medium.woff2") format('woff2'),
        url("../fonts/AnyConv.com__Inter-Medium.woff") format('woff'),
        url("../fonts/AnyConv.com__Inter-Medium.eotF") format('eot');
    font-display: swap;
}

@font-face {
    font-family: Inter;
    font-weight: 400;
    font-style: normal;
    src: local("Inter"),
        url("../fonts/AnyConv.com__Inter-Regular.woff2") format('woff2'),
        url("../fonts/AnyConv.com__Inter-Regular.woff") format('woff'),
        url("../fonts/AnyConv.com__Inter-Regular.eot") format('eot');
    font-display: swap;
}

@font-face {
    font-family: Montserrat;
    font-weight: 500;
    font-style: normal;
    src: local("Inter"),
        url("../fonts/AnyConv.com__Montserrat-Medium.woff2") format('woff2'),
        url("../fonts/AnyConv.com__Montserrat-Medium.woff") format('woff'),
        url("../fonts/AnyConv.com__Montserrat-Medium.eot") format('eot');
    font-display: swap;
}

@font-face {
    font-family: Montserrat;
    font-weight: 400;
    font-style: normal;
    src: local("Inter"),
        url("../fonts/AnyConv.com__Montserrat-Regular.woff2") format('woff2'),
        url("../fonts/AnyConv.com__Montserrat-Regular.woff") format('woff'),
        url("../fonts/AnyConv.com__Montserrat-Regular.eot") format('eot');
    font-display: swap;
}

@font-face {
    font-family: Montserrat;
    font-weight: 300;
    font-style: normal;
    src: local("Inter"),
        url("../fonts/AnyConv.com__Montserrat-Light.woff2") format('woff2'),
        url("../fonts/AnyConv.com__Montserrat-Light.woff") format('woff'),
        url("../fonts/AnyConv.com__Montserrat-Light.eot") format('eot');
    font-display: swap;
}